.password_reset {
    margin-top:150px;
    
}
.password_reset .main_content {
    margin:auto;
    width:50%;
    text-align: center;
}
.main_content h3 {
    color:black;
    font-weight: bold;
}
.main_content label {
    color:black
}

.main_content form {
    display:inline-block
}

.btn_reset {
    cursor:pointer
}

.form-group {
    text-align: right;
}
.form-group label {
    margin-right:10px;
    width:auto;
}
.form-group input {
    width:200px;
    height:100%
} 



