{% extends 'base.html'%}
{% load static %}
{% load ecommerce_tags%}
{% block css%}
<link rel="stylesheet" type="text/css" href="{% static 'styles/product.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/product_responsive.css' %}">
{% endblock %}

{% block content%}
	<!-- Home -->

	<div class="home">
		<div class="home_container">
			<div class="home_background" style="background-image:url({{ product.category.imageURL }})"></div>
			<div class="home_content_container">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="home_content">
								<div class="home_title">{{product.category.name}}<span>.</span></div>
								<div class="home_text"><p>{{product.category.description}}</p></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Product Details -->

	<div class="product_details">
		<div class="container">
			<div class="row details_row">

				<!-- Product Image -->
				<div class="col-lg-6">
					<div class="details_image">
						<div class="details_image_large"><img src="{{ product.imageURL}}" alt="">
							{% if product.status == 'New' %}
							<div class="product_extra product_new"><a href="">New</a></div>
							{% elif product.status == 'Sale'%}
							<div class="product_extra product_sale"><a href="">sale</a></div>
							{% elif product.status == 'Hot'%}
							<div class="product_extra product_hot"><a href="">Hot</a></div>
							
							{% endif %}
						</div>
						<!-- <div class="details_image_thumbnails d-flex flex-row align-items-start justify-content-between">
							<div class="details_image_thumbnail active" data-image="images/details_1.jpg"><img src="images/details_1.jpg" alt=""></div>
							<div class="details_image_thumbnail" data-image="images/details_2.jpg"><img src="images/details_2.jpg" alt=""></div>
							<div class="details_image_thumbnail" data-image="images/details_3.jpg"><img src="images/details_3.jpg" alt=""></div>
							<div class="details_image_thumbnail" data-image="images/details_4.jpg"><img src="images/details_4.jpg" alt=""></div>
						</div> -->
					</div>
				</div>

				<!-- Product Content -->
				<div class="col-lg-6">
					<div class="details_content">
						<div class="details_name">{{ product.name }}</div>
						<!-- <div class="details_discount">$890</div> -->
						<div class="details_price">{{ product.price|vnd }}</div>

						<!-- In Stock -->
						<div class="in_stock_container">
							<div class="availability">Availability:</div>
							<span>In Stock</span>
						</div>
						<div class="details_text">
							<p>{{ product.summary }}</p>
						</div>

						<!-- Product Quantity -->
						<div class="product_quantity_container">
							<div class="product_quantity clearfix">
								<span>Qty</span>
								<input id="quantity_input" type="text" pattern="[0-9]*" value="1">
								<div class="quantity_buttons">
									<div id="quantity_inc_button" class="quantity_inc quantity_control"><i class="fa fa-chevron-up" aria-hidden="true"></i></div>
									<div id="quantity_dec_button" class="quantity_dec quantity_control"><i class="fa fa-chevron-down" aria-hidden="true"></i></div>
								</div>
							</div>
							<div class="button cart_button "><a  class="update-cart" data-product="{{ product.id }}" data-action="add">Add to cart</a></div>
						</div>

						<!-- Share -->
						<!-- <div class="details_share">
							<span>Share:</span>
							<ul>
								<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							</ul>
						</div> -->
					</div>
				</div>
			</div>

			<div class="row description_row">
				<div class="col">
					<div class="description_title_container">
						<div class="description_title">Description</div>
						<!-- <div class="reviews_title"><a href="#">Reviews <span>(1)</span></a></div> -->
					</div>
					<div class="description_text">
						<p>{{ product.description }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Related Products -->

	<div class="products">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="products_title">Related Products</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					
					<div class="product_grid">

						<!-- Product -->
						{% for product in related_products%}
						<div class="product">
							<div class="product_image"><img src="{{product.imageURL }}" alt=""></div>
							{% if product.status == 'New' %}
							<div class="product_extra product_new"><a href="">New</a></div>
							{% elif product.status == 'Sale'%}
							<div class="product_extra product_sale"><a href="">sale</a></div>
							{% elif product.status == 'Hot'%}
							<div class="product_extra product_hot"><a href="">Hot</a></div>
							
							{% endif %}
							<div class="product_content">
								<div class="product_title"><a href="{% url 'product' product.pk %}">{{ product.name }}</a></div>
								<div class="product_price">{{product.price|vnd}}</div>
							</div>
						</div>
						{% endfor %}
					</div>
					<div class="pagination-container">

					
						<div class="pagination">
						{% if related_products.has_previous %}
						<a href="?page={{ related_products.previous_page_number }}">&laquo; </a>
						{% endif %}

						
						{% for page in related_products.paginator.page_range%}
						<a href="?page={{ page }}"  {%if related_products.number == page %} class="active" {%endif%}>{{page}}</a>
						{% endfor %}

						{% if related_products.has_next %}
					
						<a href="?page={{ related_products.paginator.num_pages }}"> &raquo;</a>
						{% endif %}
						</div>

						
					</div>
				</div>
			</div>
		</div>
	</div>

	

{% endblock%}

{% block scripts%}

<script src="{% static 'js/product.js'%}"></script>

{% endblock %}