{% extends 'base.html'%}
{% load static %}
{% load ecommerce_tags%}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/main_styles.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/responsive.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/customer.css' %}">
{% endblock %}

{% block content %}
<div class="customer-content">
    <div class="row">
      <div class="update-profile">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token%}
            {{form.as_p}}
            <input type="submit" class="btn btn-info">
        </form>
      </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
<script src="{% static 'js/custom.js' %}"></script>
{% endblock %}