{% extends 'base.html'%}
{% load static %}
{% load ecommerce_tags%}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/main_styles.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/responsive.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/password_reset.css' %}">
{% endblock %}
{%block content%}
<div class="password_reset">
    <div class="main_content">
        <h3>Password reset</h3>

        <p> Enter your email </p>

        <form action="" method="Post">
            {%csrf_token%}
            <div class="form-group">
            <label for="{{form.email.id_for_label}}">Email: </label>
            {{form.email}}
            </div>
            <input type="submit" name='submit' class='btn btn-outline btn-info btn_reset'>

        </form>
    </div>
</div>
{% endblock %}