
{% extends 'base.html'%}
{% load static %}
{% load ecommerce_tags%}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/main_styles.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/responsive.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/password_reset.css' %}">

{% endblock %}
{%block content%}
<div class="password_reset">
    <div class="main_content">

        <h3>Password reset sent </h3>

        <p> We have sent you an email to reset password if your email is valid . Pls check your email</p>
    </div>
</div>
{% endblock %}