



{% extends 'base.html'%}
{% load static %}
{% load ecommerce_tags%}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/main_styles.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/responsive.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/password_reset.css' %}">

{% endblock %}
{%block content%}
<div class="password_reset">
    <div class="main_content">
        <h3>Password reset confirm</h3>

        <p> Enter your new password </p>

        <form action="" method="POST">
            {%csrf_token%}
            {{form.new_password1.errors}}
            {{form.new_password2.errors}}
            <div class="form-group">
                <label for="{{form.new_password1.id_for_label}}">New password: </label>{{form.new_password1}}
            </div>
            <div class="form-group">
                <label for="{{form.new_password2.id_for_label}}">Re-enter password: </label>{{form.new_password2}}
            </div>
            <input type="submit" name='Update password' class='btn btn-info'>
            </form>

        </form>
    </div>
</div>
{% endblock %}