





{% extends 'base.html'%}
{% load static %}
{% load ecommerce_tags%}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/main_styles.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/responsive.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/password_reset.css' %}">

{% endblock %}
{%block content%}
<div class="password_reset">
    <div class="main_content">

        
    <h3>Password reset complete</h3>

    <p> Your password has been updated sucessfully </p>
    <a href="{% url 'login' %}">Return to login page</a>
    </div>
</div>
{% endblock %}